.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 90%;
  max-width: 500px;
  padding: 2rem;
  border-radius: 1rem;

  background-color: var(--mui-palette-background-paper);
  box-shadow: var(--mui-shadows-1);

  transition: opacity 0.3s ease-in-out;
}

.content {
  margin-top: 1rem;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
