.container {
  max-width: 800px;
  padding: 2rem;
  margin: 2rem auto;

  border: 1px solid var(--mui-palette-divider);
  border-radius: 1rem;
  box-shadow: var(--mui-shadows-15);
}

.components {
  display: flex;
  gap: 1rem;
}
