.container {
  margin-top: 1rem;
}

.counter {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--mui-palette-text-secondary);
  margin-bottom: 1rem;
}

.question {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: var(--mui-palette-text-primary);
}
