@mixin flex-wrap-gap($gap) {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
}

@mixin flex-align-center-gap($gap) {
  display: flex;
  align-items: center;
  gap: $gap;
}

.headerSubTitle {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--mui-palette-text-secondary);
  margin-bottom: 0.375rem;
}

.link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.info {
  margin-top: 1rem;

  &__sub-title {
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--mui-palette-text-secondary);
    margin-bottom: 0.375rem;
  }

  &__section {
    &:not(:first-of-type) {
      margin-top: 3rem;
    }
  }

  &__sectionContacts {
    @include flex-wrap-gap(5rem);
    margin-top: 0.375rem !important;
  }

  &__sectionTitle {
    font-size: 1.2rem;
    margin-bottom: 0.375rem;
  }

  &__sectionDescription {
    margin: 0 !important;
  }

  &__contact {
    @include flex-align-center-gap(0.5rem);
  }

  &__links {
    @include flex-wrap-gap(1rem);
  }

  &__link {
    @include flex-align-center-gap(0.25rem);
    text-decoration: none;
    color: var(--mui-palette-primary-main);
    &:hover {
      text-decoration: underline;
    }
  }

  &__owner {
    @include flex-align-center-gap(1rem);
  }

  &__ownerDetails {
    display: flex;
    flex-direction: column;
  }

  &__ownerContact {
    @include flex-align-center-gap(0.5rem);
  }
}

.members {
  &__adminOnly {
    @include flex-align-center-gap(0.5rem);
  }

  &__adminOnlyLabel {
    @include flex-align-center-gap(0.5rem);
    cursor: pointer;
    user-select: none;
  }

  &_role {
    margin-left: 0.5rem;
  }
}

.invites {
  &__formContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    gap: 1rem;
    margin-left: auto;
    margin-top: 1rem;
  }

  &__formError {
    color: var(--mui-palette-error-main);
  }
}

.quizzes {
  &__secondaryAction {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__actionsBtns {
    margin-top: 0.5rem;
    @include flex-align-center-gap(1rem);
  }
}
