.container {
  display: flex;
  align-items: flex-start;
  gap: 1rem;

  width: calc(50% - 1rem);
  padding: 0.75rem;
  border-radius: 0.5rem;

  background-color: var(--mui-palette-grey-50);
}

.label {
  display: block;
  margin-bottom: 0.25rem;

  color: var(--mui-palette-text-secondary);
}

.value {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.noValue {
  color: var(--mui-palette-text-disabled);
}
