.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  flex-grow: 1;
  font-size: 1.25rem;
  color: var(--mui-palette-primary-dark);
  font-weight: 500;
}

.nav {
  display: flex;
  align-items: center;
}
